* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 200px;
}
a {
  text-decoration: none;
}

/* BANNER SECTION STYLES  */
.banner_section {
  display: flex;
  justify-content: center;
}
.banner_container {
  margin-top: 50px;
  width: 1320px;
  height: 600px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  position: relative;
}
.banner_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/Banner\ Image.png");
  z-index: -1;
  background-position: center;
  background-size: cover;
}
.banner_title {
  color: #fff;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.banner_subtitle {
  width: 632px;
  color: #fff;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* NEW YEAR OFF SECTION  STYLES */
.new_year_off_section {
  margin-top: 120px;
}
.new_year_off_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new_year_off_title {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  line-height: normal;
}
.new_year_off_subtitle {
  margin-top: 48px;
  margin-bottom: 16px;
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.new_year_off_description {
  margin-bottom: 48px;
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}
.new_year_off_banner_image {
  width: 802.9px;
  height: 500px;
}
.new_year_off_banner_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* WELCOME SECTION STYLES  */
.welcome_section {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.welcome_container {
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39.17px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 16px;
  position: relative;
}
.welcome_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./assets/Vectorrr.png");
  z-index: -1;
}
.welcome_text_content {
  width: 697px;
}
.welcome_title {
  width: 642px;
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.welcome_subtitle {
  margin-top: 24px;
  margin-bottom: 48px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.welcome_btn {
  margin-left: 32px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.welcome_btn:hover {
  color: #f00;
}

.welcome_image_content {
  width: 319.83px;
  height: 464.662px;
  position: relative;
}

.welcome_image_content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.welcome_img {
  position: relative;
  width: 141.641px;
  height: 141.641px;
}
.welcome_img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 450px;
  left: 115px;
  background: url("./assets/Vector.png");
  z-index: 9;
  transform: rotate(-45deg);

  mix-blend-mode: multiply;
}

/* PARTY LOCATION SECTION STYLES */
.party_location_section {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.party_location_container {
  width: 1320px;
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.party {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.party span {
  font-family: "Inter", sans-serif;
  color: #f00;
}
.party_join_btn {
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
  border: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #f00;
  transition: 0.5s ease-in-out;
}
.party_join_btn:hover {
  color: #f00;
  background: #fff;
  border: 1px solid #f00;
}
/* OFFER SECTION STYLES  */
.offer_section {
  margin-top: 120px;
}
.offer_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_col_one {
  margin-right: 70px;
  width: 393px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.offer_title {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.offer_subtitle {
  margin-top: 16px;
  margin-bottom: 22px;
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.offer_description {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.offer_col_two {
  width: 463px;
  height: 463px;
  border-radius: 463px;
  border: 15px solid #f00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_col_two img {
  width: 364.844px;
  height: 364.844px;
  object-fit: contain;
}
.offer_col_three {
  margin-left: 118px;
  padding: 0;
  width: 276px;
  margin-top: 95px;
}
.offer_year {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.offer_col_three_description {
  margin-top: 16px;
  margin-bottom: 43px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.offer_col_three_img {
  width: 140px;
  height: 140px;
}
.offer_col_three_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* SALE SECTION STYLES  */
/* SALE SECTION STYLES  */
.sale_section {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sale_container {
  margin-bottom: 0;
  display: flex;
  gap: 64px;
  flex-direction: column;
  align-items: center;
}
.sale_title {
  text-align: center;
  color: #070211;
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.sale_subtitle {
  margin-top: 16px;
  margin-bottom: 28px;
  text-align: center;
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
}
.sale_subtitle span {
  color: #f00;
}
.sale_description {
  width: 1068px;
  text-align: center;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.sale_image_content {
  position: relative;
}
.sale_image_content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 229px;
  bottom: 0;
  left: 0;
  background: url("./assets/Rectangle\ 2.png");
  z-index: -1;
}
.sale_image_content::after {
  content: "";
  position: absolute;
  top: 155px;
  right: 313px;
  width: 220.048px;
  height: 220.119px;
  background-image: url("./assets/Group\ 44.png");
  background-size: contain;
}
.mystery_box_and_discount_img {
  width: 100%;
  height: 662.07px;
  display: flex;
  gap: 95px;
  align-items: start;
}
.mystery_img {
  width: 796.463px;
  height: 662.07px;
}
.mystery_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sale_discount_img {
  width: 429px;
  height: 433px;
}
.sale_discount_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* PORTFOLIO SECTION STYLES  */
.portfolio_section {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio_container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio_title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.portfolio_subtitle {
  margin-top: 16px;
  margin-bottom: 22px;
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.portfolio_description {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.portfolio_img_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.portfolio_item {
  width: 424px;
  height: 450px;
}
.portfolio_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* SUBSCRIBE SECTION STYLES  */
.subscribe_section {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.subscribe_container {
  width: 1320px;
  height: 616px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.subscribe_logo {
  width: 150px;
  height: 150px;
}
.subscribe_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.subscribe_title {
  margin-top: 40px;
  margin-bottom: 22px;
  color: #070211;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.subscribe_description {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.subscribe_inp_field {
  margin-top: 48px;
  width: 648px;
  height: 72px;
  display: flex;
}

.subscribe_inp_field input {
  padding: 30px;
  width: 438px;
  height: 100%;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: start;
}
.subscribe_inp_field button {
  width: 210px;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  outline: none;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: 1px solid #f00;
}
.subscribe_inp_field button:hover {
  color: #070211;
  background: #fff;
  border: 1px solid #f00;
}
/* FOOTER STYLES  */
.footer_section {
  margin-top: 120px;
}
.footer_container {
  background: #070211;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_address_and_contact {
  padding-top: 120px;
  padding-bottom: 50px;
  padding-right: 275px;
  padding-left: 140px;
  width: 1320px;
  display: flex;
  justify-content: space-between;
}
.address {
  width: 375px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.contact_number_website {
  display: flex;
  flex-direction: column;
}
.contact_number {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.contact_number:hover {
  color: #cccccc;
}
.contact_number img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.website {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.website:hover {
  color: #cccccc;
}
.website img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.footer_social_icons {
  width: 1320px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.icon {
  margin: 48px 0;
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer_copyright {
  width: 1320px;
  padding-top: 50px;
  padding-bottom: 120px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright_title {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.unsubscribe {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.unsubscribe:hover {
  color: #cccccc;
}
