* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
img {
  width: 200px;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
/* BANNER SECTION STYLES  */
.banner_section {
  display: flex;
  justify-content: center;
}
.banner_container {
  margin-top: 50px;
  width: 1320px;
  height: 600px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  position: relative;
}
.banner_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/Banner\ Image.png");
  z-index: -1;
  background-position: center;
  background-size: cover;
}
.banner_title {
  color: #fff;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.banner_subtitle {
  width: 632px;
  color: #fff;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* NEW YEAR OFF SECTION  STYLES */
.new_year_off_section {
  margin-top: 120px;
}
.new_year_off_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new_year_off_title {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  line-height: normal;
}
.new_year_off_subtitle {
  margin-top: 48px;
  margin-bottom: 16px;
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.new_year_off_description {
  margin-bottom: 48px;
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}
.new_year_off_banner_image {
  width: 802.9px;
  height: 500px;
}
.new_year_off_banner_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* WELCOME SECTION STYLES  */
.welcome_section {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.welcome_container {
  padding-left: 126px;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39.17px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 16px;
  position: relative;
}
.welcome_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./assets/Vectorrr.png");
  z-index: -1;
}
.welcome_text_content {
  width: 697px;
}
.welcome_title {
  width: 642px;
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.welcome_subtitle {
  margin-top: 24px;
  margin-bottom: 48px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.welcome_btn {
  margin-left: 32px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.welcome_image_content {
  width: 319.83px;
  height: 464.662px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new_year_off_banner_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* PARTY LOCATION SECTION STYLES */
.party_location_section {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.party_location_container {
  width: 1320px;
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.party {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.party span {
  font-family: "Inter", sans-serif;
  color: #f00;
}
.party_join_btn {
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
  border: none;
  outline: none;
  cursor: pointer;
}
/* OFFER SECTION STYLES  */
.offer_section {
  margin-top: 120px;
}
.offer_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_col_one {
  margin-right: 70px;
  width: 393px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.offer_title {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.offer_subtitle {
  margin-top: 16px;
  margin-bottom: 22px;
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.offer_description {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.offer_col_two {
  width: 463px;
  height: 463px;
  border-radius: 463px;
  border: 15px solid #f00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_col_two img {
  width: 364.844px;
  height: 364.844px;
  object-fit: contain;
}
.offer_col_three {
  margin-left: 118px;
  padding: 0;
  width: 276px;
  margin-top: 95px;
}
.offer_year {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.offer_col_three_description {
  margin-top: 16px;
  margin-bottom: 43px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.offer_col_three_img {
  width: 140px;
  height: 140px;
}
.offer_col_three_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
